{% extends 'css_and_javascript.html' %}
{% load static %}

{% comment %}
Base template for the mobile app.

It extends the main css_and_javascript.html
{% endcomment %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'mobile_style.css' %}"/>
{% endblock %}

{% block header %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-left">
        <div>H5Media</div>
      </div>
      <div class="navbar-center"></div>
      <div class="navbar-right">
        <button hx-get="{% url 'mobile:menu' %}" hx-target="#menu-dialog">Menu</button>
      </div>
    </nav>
    
    <div id="menu-container"></div>
    <div id="alerts">
    </div>

{% endblock header %}
