{% extends "css_and_javascript.html" %}


{% block header %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'home' %}">Home</a>
                <a class="navbar-item">Library</a>
                {% if user.is_staff %}
                    <a class="navbar-item" href="/admin/">Admin</a>
                {% endif %}
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item">Profile</a>
                    <div class="navbar-dropdown">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="navbar-item">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {# This is where error message are shown #}
    <div id="alerts">

    </div>
{% endblock header %}
