{% extends 'css_only.html' %}
{% load static %}
{% comment %}

A template that adds JavaScript libraries and navbar

{% endcomment %}

{#{% block htmx_config %}#}
{#{#}
{#    "defaultSwapStyle": "outerHTML"#}
{# } #}
{#{% endblock %}#}

{% block javascript %}
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'htmx.min.js' %}"></script>
    <script src="{% static 'h5media.js' %}"></script>
    <script src="{% static 'response-targets.js' %}"></script>
    <script>
    
        htmx.config.defaultSwapStyle = 'outerHTML';
        
    </script>
{% endblock %}


{% block header %}
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="page_title">fixed_header (Now Playing or similar)</div>
    <div id="home_menu_buttons">
      <button class="button-link" data-href="{% url 'home' %}">
        <i class="fa-solid fa-house"></i>
      </button>
      <button>
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    
    {# This is where error message are shown #}
    <div id="alerts_container">
      Alerts shown here {{ current_time|date:"Y-m-d H:i:s" }}
    </div>
  </nav>
  
  <div id="menu_container">
    Menu
    <div>Close Button</div>
  </div>
  
      <!--
        <div class="navbar-brand">
            <a role="button"
               class="navbar-burger"
               aria-label="menu"
               aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'home' %}">Home</a>
                <a class="navbar-item">Playlists</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Library</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Music</a>
                        <a class="navbar-item">Audiobooks</a>
                        <a class="navbar-item" href="{% url 'podcasts' %}">Podcasts</a>
                        <a class="navbar-item">Videos</a>
                    </div>
                </div>
                {% if user.is_staff %}
                    <a class="navbar-item" href="/admin/">Admin</a>
                {% endif %}
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item">Profile</a>
                    <div class="navbar-dropdown">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="navbar-item">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        -->

    
    
{% endblock header %}