{% extends 'css_only.html' %}
{% load static %}
{% comment %}

A template that adds JavaScript libraries and navbar

{% endcomment %}

{% block javascript %}
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'htmx.min.js' %}"></script>
    <script src="{% static 'h5media.js' %}"></script>
{% endblock %}


{% block header %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button"
               class="navbar-burger"
               aria-label="menu"
               aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'home' %}">Home</a>
                <a class="navbar-item">Playlists</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Library</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Music</a>
                        <a class="navbar-item">Audiobooks</a>
                        <a class="navbar-item">Podcasts</a>
                        <a class="navbar-item">Videos</a>
                    </div>
                </div>
                {% if user.is_staff %}
                    <a class="navbar-item">Admin</a>
                {% endif %}
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item">Profile</a>
                    <div class="navbar-dropdown">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="navbar-item">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock header %}