{% load static %}
{% comment %}

A template that can be used for login page.  Has CSS, but doesn't load any
JavaScript.  Defines header, main, and footer blocks

{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>H5Media - {{ page_title_suffix }}</title>
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="stylesheet" href="{% static 'h5media/h5media.css' %}">
</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
      {% block main %}
      {% endblock %}
    </main>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
</body>
</html>
