{% load static %}
{% comment %}

A template that adds JavaScript libraries

{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>H5Media - {{ page_title_suffix }}</title>
    {% include 'partial/css.html' %}
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'htmx.min.js' %}"></script>
    <script src="{% static 'response-targets.js' %}"></script>
    <script>
        htmx.config.defaultSwapStyle = 'outerHTML';
    </script>
    {% block extra_javascript %}
    {% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block dialog %}
    {% endblock %}
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
      {% block main %}
      {% endblock %}
    </main>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
</body>
</html>






