{% load static %}
{% comment %}

A template that can be used for login page.  Has CSS, but doesn't load any
JavaScript.  base.html extends this template, adding JavaScript files and the
 navbar.

{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <meta name="htmx-config" content='{% block htmx_config %}{% endblock %}'>#}
    <title>H5Media - {{ page_title_suffix }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bulma.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}"/>
    <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}"/>
    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css'%}"/>
    {% block javascript %}
    {% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>