{% extends "base.html" %}
{% load static %}
{% comment %}

CONTEXT VARIABLES
-----------------

{% endcomment %}

{% block main %}

<div class="home">

  <div class="home-now-playing">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Now Playing:</p>
      </header>
      <div class="card-content">
        <audio controls></audio>
      </div>
      <footer class="card-footer">
        <button class="card-footer-item">
          <span class="icon">
            <i class="fa-solid fa-backward-fast"></i>
          </span>
        </button>
        <button class="card-footer-item">
          <span class="icon">
            <i class="fa-solid fa-backward"></i>
          </span>
        </button>
        <button class="card-footer-item">
          <span class="icon">
            <i class="fa-solid fa-play"></i>
          </span>
        </button>
        <button class="card-footer-item">
          <span class="icon">
            <i class="fa-solid fa-forward"></i>
          </span>
        </button>
        <button class="card-footer-item">
          <span class="icon">
            <i class="fa-solid fa-forward-fast"></i>
          </span>
        </button>
        <div class="card-footer-item">
          <progress value="20" max="100"></progress> 0:20 / 1:40
        </div>
        <button class="card-footer-item">
          <span class="icon">
            <i class="fa-solid fa-volume"></i>
          </span>
        </button>
        <button class="card-footer-item">
          <span class="icon">
            <i class="fa-solid fa-expand"></i>
          </span>
        </button>
      </footer>
    </div>
  </div>

  <div class="home-queue">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Queue / Playlist:</p>
      </header>
      <div class="card-content"></div>
      <footer class="card-footer"></footer>
    </div>
  </div>

  <div class="home-search">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Search:</p>
      </header>
      <div class="card-content">

      </div>
    </div>

  </div>

<!--

    <div id="queueControls">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"
                 for="queueOrPlaylist"
                 style="min-width: 8rem">Queue / Playlist:</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-rounded">
                <select id="queueOrPlaylist" class="select is-fullwidth">
                  <option>Queue</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div id="queueTable">
    <div>header</div>
    <div>Rows</div>
  </div>

-->


</div>

{% endblock %}


