{% extends "css_only.html" %}

{% block content %}

<div class="login" style="">

    {% if form.errors %}
        <div class="notification is-danger">
            Your username and password didn't match. Please try again.
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        <div style="grid-area: 1 / 2 / 2 / 3">{{ form.username.label_tag }}</div>
        <div style="grid-area: 1 / 3 / 2 / 4">{{ form.username }}</div>

        <div style="grid-area: 2 / 2 / 3 / 3">{{ form.password.label_tag }}</div>
        <div style="grid-area: 2 / 3 / 3 / 4">{{ form.password }}</div>

        <div style="grid-area: 3 / 3 / 4 / 4">
            <input type="submit" value="Login" class="button is-primary"/>
        </div>

        <div style="grid-area: 4 / 3 / 5 / 4">
            {# Assumes you set up the password_reset view in your URLconf #}
            <a href="{% url 'password_reset' %}">Lost password?</a>
        </div>

    </form>
</div>

{% endblock %}