{% extends "css_only.html" %}


{% block extra_css %}




{% endblock %}


{% block main %}

<div class="login-container">
  <div class="login">
    {% if form.errors %}
        <div class="notification is-danger">
            Your username and password didn't match. Please try again.
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <input type="hidden" name="next" value="{{ next }}">

      <div class="field">
        <label class="label">{{ form.username.label_tag }}</label>
        <div class="control">
          {{ form.username }}
        </div>
      </div>

      <div class="field">
        <label class="label">{{ form.password.label_tag }}</label>
        <div class="control">
          {{ form.password }}
        </div>
      </div>

      <div class="field">
        <label class="label">{{ form.mode.label_tag }}</label>
        <div class="select is-rounded">
          {{ form.mode }}
        </div>
      </div>

      <div class="field">
          <input type="submit" value="Login" class="button is-rounded"/>
      </div>

      <div class="field">
          {# Assumes you set up the password_reset view in your URLconf #}
          <a href="{% url 'password_reset' %}">Lost password?</a>
      </div>

    </form>
  </div>
</div>

{% endblock %}
