{% extends "css_only.html" %}

{% block content %}

<div class="login" style="">

    {% if form.errors %}
        <div class="notification is-danger">
            Your username and password didn't match. Please try again.
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
      
        <label for="id_username">Username</label>
        <input id="id_username" type="text" name="username"/>
        
        <label for="id_password">Password</label>
        <input id="id_password" type="password" name="password"/>
        

        <div>
            <input type="submit" value="Login" class="button is-primary"/>
        </div>

        <div>
            {# Assumes you set up the password_reset view in your URLconf #}
            <a href="{% url 'password_reset' %}">Lost password?</a>
        </div>

    </form>
</div>

{% endblock %}