{% extends "base.html" %}
{% comment %}

CONTEXT VARIABLES
-----------------
podcasts:    All podcasts in database

{% endcomment %}

{% block top_controls %}
    
<div class="top_controls">
  <a class="button is-primary" href="{% url 'podcast_search' %}">Find More Podcasts</a> 
</div>
    
{% endblock %}


{% block content %}
    
<table>
  <thead>
    <tr>
      <th></th>  
      <th>Title</th>  
    </tr>
  </thead>
  <tbody>
    {% for podcast in podcasts %}
      <tr>
        <td>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </td>
        <td>
          <a href="{% url 'podcast' podcast.pk %}">{{ podcast.title }}</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td>No podcasts in database</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
    
{% endblock %}