{% comment %}

{% endcomment %}
<table>
  <thead>
    <tr>
      <th>Queue</th>  
      <th>Playlist</th>
      <th>Published</th>  
      <th>Title</th>  
    </tr>
  </thead>
  <tbody>
    {% for episode in episodes %}
      <tr>
        <td>
            <button class="button is-dark"
                    hx-post="{% url 'podcast_episode_add_to_queue' episode.pk %}">Queue</button>  
        </td>
        <td>
            <button class="button is-dark">Play List</button>
        </td>
        <td>{{ episode.pub_date|date:"Y-m-d" }}</td>  
        <td>{{ episode.title }}</td>  
      </tr>
    {% empty %}
    {% endfor %}
  </tbody>
</table>



