{% load static %}
{% comment %}

CONTEXT VARIABLES
-----------------
episodes:  Iterable of PodcastEpisode Instances
in_queue_pks:  PKs for media files in Profiles now_playing or queue

{% endcomment %}
<table data-template="podcast_episode_list">
  <thead>
    <tr>
      <th>Queue</th>  
      <th>Playlist</th>
      <th>Published</th>  
      <th>Title</th>  
    </tr>
  </thead>
  <tbody>
    {% for episode in episodes %}
      <tr>
        <td>
          {% if episode.pk in in_queue_pks %}
            {% include 'partial/in_queue_button.html' %}  
          {% else %}
            <button class="button is-primary is-outlined"
                    hx-post="{% url 'podcast_episode_add_to_queue' episode.pk %}"
                    hx-swap="outerHTML"
                    hx-ext="response-targets"
                    hx-target-error="#alerts">
              <span class="icon is-small">
                <i class="fa-solid fa-play"></i>
              </span>
            </button>
          {% endif %}
        </td>
        <td>
          <button class="button is-primary is-outlined">
            <span class="icon is-small">    
              <i class="fa-solid fa-list"></i>
            </span>    
          </button>
        </td>
        <td>{{ episode.pub_date|date:"Y-m-d" }}</td>  
        <td>{{ episode.title }}</td>  
      </tr>
    {% empty %}
    {% endfor %}
  </tbody>
</table>



